@{
	Layout = "_Layout";
}

<div class="col-12 d-flex align-items-center justify-content-center ">
	<div class="section-title text-center mb-0">
		<h2 class="title">
			ADMİN PANELE HOŞGELDİNİZ

		</h2>
	</div>
</div>
