<!-- OffCanvas Cart Start -->
<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
	<div class="inner">
		<div class="head">
			<span class="title">Cart</span>
			<button class="offcanvas-close">×</button>
		</div>
		<div class="body customScroll">
			<ul class="minicart-product-list">
				<productHtml>

				</productHtml>
				<li class="cart-space">
					<div class="cart-sub" style="margin-top: 2em; display: flex; justify-content: flex-end;">
						<h4 style="font-weight: bold; font-family: 'Nunito Sans', sans-serif; font-size: 20px;">Toplam:&nbsp;</h4>
					</div>
					<div class="cart-price" style="margin-top: 2em; display: flex; justify-content: flex-end;">
						<h4 id="basketTotal" style="font-weight: bold; font-family: 'Nunito Sans', sans-serif; font-size: 20px;">0</h4>
					</div>
				</li>




			</ul>
		</div>
		<div class="foot">
			<div class="buttons mt-30px">
				@Html.ActionLink("CheckOut","Index","CheckOut",null,new{@class = "btn btn-outline-dark current-btn"})
			</div>
		</div>
	</div>
</div>
<!-- OffCanvas Cart End -->